<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attachments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Attachments.Properties.Settings>
            <setting name="almUrl" serializeAs="String">
                <value>http://10.6.17.217:8080/qcbin</value>
            </setting>
            <setting name="azureUrl" serializeAs="String">
                <value>https://allenovery.visualstudio.com/IT%20Quality%20Assurance</value>
            </setting>
            <setting name="almProjectName" serializeAs="String">
                <value>AOProjects</value>
            </setting>
            <setting name="almUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="almPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="azureUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="azurePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="attachmentFilePath" serializeAs="String">
                <value>C:/Users/collinlo/attachmentStore</value>
            </setting>
            <setting name="defectListFilePath" serializeAs="String">
                <value>C:/Users/Collinlo/DefectsIDwithAttachmentsNames2.xlsx</value>
            </setting>
            <setting name="almDomain" serializeAs="String">
                <value>ALLENOVERY</value>
            </setting>
        </Attachments.Properties.Settings>
    </applicationSettings>
</configuration>